@media (max-width: 1200px) {
    .carousel-item {
      flex-basis: 50%;
    }
  
    .arrows {
      display: none;
    }
}

@media (max-width: 1000px) {
    /* HEADER */

    .header-text {
        padding-left: 1rem;
    }

    .button-header {
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    .header-text h2 {
        font-size: 2.5rem;
    }

    .download-svg {
        width: 140px;
        gap: 0;
    }

    .container-header {
        padding-right: 5rem;
        align-items: center;
        justify-content: center;
        gap: .8rem;
    }

    /* SECTIO PRODUCTS */
    .section-products {
        margin-top: 8rem;
    }

    .carousel-item {
        flex-basis: 100%;
    }

    .header-products {
        flex-flow: column wrap;
    }

    .header-products h1 {
        font-size: 2rem;
        margin-bottom: 5rem;
    }

    /* SECTION MANGA */
    .section-manga {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    .container {
        flex-flow: column wrap;
    }

    .container-text {
        max-width: 100%;
        margin-bottom: 4rem;
    }

    .container-text h1 {
        font-size: 1.3rem;
    }

    .container-text h2 {
        font-size: 2rem;
    }

    .manga-img {
        max-width: 320px;
    }

    /* CATEGORY SECTION */
    .category-section {
        margin-top: 5rem;
    }

    .category-section h1 {
        font-size: 2.8rem;
    }

    .category-section h2 {
        font-size: 1.3rem;
    }

    .category-section .img-section {
        max-width: 30px;
    }

    .product-container {
        margin-bottom: 3rem;
    }

    .grid-category {
        display: flex;
        flex-flow: column wrap;
    }

    /* FOOTER */
    .footer {
        padding: 1rem;
        font-size: 1.25rem;
    }

    footer .flex {
        flex-flow: column wrap;
    }

    .container-footer {
        margin-top: 3rem;
    }

    .privacy-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
    }

    .privacy-link {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .back-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
}

@media (max-width: 550px) {
    .header-text p {
        display: none;
    }
}

@media (max-width: 400px) {
    .download-svg {
        width: 110px;
        gap: 0;
    }
}
